/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--txt);
  font-variation-settings: var(--card);
}

.header {
  display: flex;
  height: 960px;
  font-family: var(--accent-txt);
}

.head-title {
  margin-top: 100px;
  height: clamp(327px, 100vh, 368px);
  width: clamp(375px, 100vw, 700px);
  margin-left: auto;
  margin-right: auto;
  margin-top: clamp(100px, 102.49px + -0.13vw, 102px);
  background-color: #fff;
  text-transform: uppercase;
  font-weight: var(-title);
  border: 2px solid #000;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.html {
  font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  margin-top: clamp(120px, 118.06px + 0.52vw, 128px);
  margin-left: auto;
  margin-right: auto;
}

.tag {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
}

.main {
  width: clamp(371px, 100vw, 700px);
  transform: translateY(-200px);
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  position: relative;
  margin-bottom: 52px;
  background-color: #fff;
  border: 2px solid #000;
}

.title {
  border-bottom: 2px solid #000;
  font-weight: var(--title);
  padding-left: 10px;
  padding-top: 3px;
  height: 31px;
}

.text {
  border-top: 2px solid #000;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.img {
  width: 696px;
  height: 696px;
  display: block;
}

.label {
  position: absolute;
  top: 56px;
  right: 25px;
  font-family: var(--accent-txt);
  font-size: 14px;
  color: transparent;
  background: transparent;
  mix-blend-mode: hard-light;
  pointer-events: none;
  z-index: 10;

  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;

  @supports not (-webkit-text-stroke: 1px #000) {
    text-shadow: 
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  }
}

.thoughts {
  margin-top: 27px;
  margin-left: 25px;
  margin-right: 25px;
}

.like {
  font-family: var(--accent-txt);
  font-weight: var(--card);
  margin-top: 25px;
  margin-left: 541px;
  width: 130px;
  height: 38px;
  margin-bottom: 25px;
  background-color: transparent;
}

.heart {
  
}

.nostalgia {
  filter: sepia(0.8) brightness(1.1);
}

.clear {
  filter: blur(2px);
}

.cold {
  filter: hue-rotate(155deg) brightness(1.05);
}

.drama {
  filter: contrast(1.5) saturate(0.3);
}

.warm {
  filter: hue-rotate(-30deg) saturate(1.2);
}

.pov {
  filter: invert(1);
}

.idk {
  filter: contrast(0.75) brightness(0.4);
}

.gritty {
  filter: contrast(1.4) brightness(0.9) saturate(0.7);
}

@media (width <= 375px) {
  .post {
    max-width: 375px;
  }
}